<h1>Заголовок 1</h1>

<p><strong>Съешь же ещё этих мягких французских булок</strong>, да выпей чаю.</p>

<h2>Заголовок 2</h2>

<ol>
    <li>Первый элемент упорядоченного списка</li>
    <li>Второй элемент упорядоченного списка</li>
    <li>Третий элемент упорядоченного списка</li>
</ol>

<h3>Заголовок 3</h3>

<ul>
    <li>Первый элемент неупорядоченного списка</li>
    <li>Второй элемент неупорядоченного списка</li>
</ul>

<h4>Проверка контекста:</h4>
<ul>
    <li>Имя пользователя: {{ username }}</li>
    <li>Электронная почта: {{ email }}</li>
</ul>